@media screen and (max-width:575px) {
    .col-xs-1{width: 8.3333%;}
    .col-xs-2{width: 16.6666%;}
    .col-xs-3{width: 25%;}
    .col-xs-4{width: 33.3333%;}
    .col-xs-5{width: 41.6666%;}
    .col-xs-6{width: 50%;}
    .col-xs-7{width: 58.3333%;}
    .col-xs-8{width: 66.6666%;}
    .col-xs-9{width: 75%;}
    .col-xs-10{width: 83.3333%;}
    .col-xs-11{width: 91.6666%;}
    .col-xs-12{width: 100%;}
    .container{max-width: 100%;}
    .banner {
    text-align: center;
  }
.banner h1{
    font-size: 60px;
}
.banner-btn .btn-1{
    display: block;
    margin: auto;
  }
   #men2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px
}

.product-content h1:after {
    right: 320px;
}

.product-content h1::before {
    left: 320px;
}
.deal-1 h1{
  font-size: 30px;
}

.offset{
    margin-left: 3%;
}
  }
  @media (min-width:575px) and (max-width:767px) {
  /* sm */
  .col-sm-1{width: 8.3333%;}
  .col-sm-2{width: 16.6666%;}
  .col-sm-3{width: 25%;}
  .col-sm-4{width: 33.3333%;}
  .col-sm-5{width: 41.6666%;}
  .col-sm-6{width: 50%;}
  .col-sm-7{width: 58.3333%;}
  .col-sm-8{width: 66.6666%;}
  .col-sm-9{width: 75%;}
  .col-sm-10{width: 83.3333%;}
  .col-sm-11{width: 91.6666%;}
  .col-sm-12{width: 100%;}
  .container{max-width: 540px;}
  .banner {
    text-align: center;
  }
.banner h1{
    font-size: 50px;
}
.banner-btn .btn-1{
    display: block;
    margin: auto;
  }

    .priceing .priceing-content {
    content: "";
    left: 25px;
    position: absolute;
    top: 30px;
}
.priceing .priceing-content h2 {
  font-size: 60px;
}
 #men2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px
}
.product-content h1:after {
    right: 370px;
}

.product-content h1::before {
    left: 370px;
}

.offset{
    margin-left: 3%;
}
  }
  @media (min-width:767px) and (max-width:991px) {
  /* md */
  .col-md-1{width: 8.3333%;}
  .col-md-2{width: 16.6666%;}
  .col-md-3{width: 25%;}
  .col-md-4{width: 33.3333%;}
  .col-md-5{width: 41.6666%;}
  .col-md-6{width: 50%;}
  .col-md-7{width: 58.3333%;}
  .col-md-8{width: 66.6666%;}
  .col-md-9{width: 75%;}
  .col-md-10{width: 83.3333%;}
  .col-md-11{width: 91.6666%;}
  .col-md-12{width: 100%;}
  .container{max-width: 720px;}

  .priceing .priceing-content {
    content: "";
    left: 20px;
    position: absolute;
    top: 20px;
}
.priceing .priceing-content h2 {
  font-size: 23px;
}
 #men2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px
}
.product-content h1:after {
    right: 480px;
}

.product-content h1::before {
    left: 480px;
}
.offset{
    margin-left: 3%;
}
  }
  @media (min-width:991px) and (max-width:1199px) {
  /* lg */
  .col-lg-1{width: 8.3333%;}
  .col-lg-2{width: 16.6666%;}
  .col-lg-3{width: 25%;}
  .col-lg-4{width: 33.3333%;}
  .col-lg-5{width: 41.6666%;}
  .col-lg-6{width: 50%;}
  .col-lg-7{width: 58.3333%;}
  .col-lg-8{width: 66.6666%;}
  .col-lg-9{width: 75%;}
  .col-lg-10{width: 83.3333%;}
  .col-lg-11{width: 91.6666%;}
  .col-lg-12{width: 100%;}
  .container{max-width: 960px; }

  #men2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px
}
.product-content h1:after {
  right: 590px;
}

.product-content h1::before {
  left: 590px;
}
.offset{
    margin-left: 25%;
}
}
  
  @media (min-width:1200px) {
  /* xl */
  .col-xl-1{width: 8.3333%;}
  .col-xl-2{width: 16.6666%;}
  .col-xl-3{width: 25%;}
  .col-xl-4{width: 33.3333%;}
  .col-xl-5{width: 41.6666%;}
  .col-xl-6{width: 50%;}
  .col-xl-7{width: 58.3333%;}
  .col-xl-8{width: 66.6666%;}
  .col-xl-9{width: 75%;}
  .col-xl-10{width: 83.3333%;}
  .col-xl-11{width: 91.6666%;}
  .col-xl-12{width: 100%;}
  .container{max-width: 1140px;}
  }
  @media (max-width:991px){
    #navbar{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: fixed;
      top: 0;
      right: -300px;
      width: 300px;
      background-color: var(--light-green);
      padding: 80px 0 0 10px;
      transition: all 0.5s;
    }
 #navbar.active{
  right: 0px;
 }
 header .btn button{
  display: none;
 }
 #navbar ul{
  display: flex;
  flex-direction: column;
 }
 #navbar ul li{
  margin-bottom: 25px;
 }
 #navbar ul li a{
  color: white;
 }
#mobile{
  display: flex;
}
#mobile i{
  background-color: var(--light-green);
  height: 45px;
  width: 45px;
  color: black;
  box-shadow: 0 16px 32px 0 rgba(7 ,28,31,0.1);
  text-align: center;
  line-height: 45px;
  margin-left: -50px;
}
#close{
  display: initial;
  position: absolute;
  top: 30px;
  left: 30px;
  color: black;
  font-size: 25px;
}


.deal-1 {
 display: block;
 margin: auto;
}



  }
  
  